<!--header-->
<img class="img" src="assets/sugarlabsbg.jpeg">
<div class="center">

<!--introduction-->
<center>
<a name="#Home"></a>
<div id="Home"class="container">
<div class="card">
<em>
<br/>
<br/>
<br/>
<br/>
<!--overview-->
<p>A worldwide effort to provide every child with equal opportunity for a quality education.</p>
<p>#technology #education #programming #olpc #sugarlabs #sugarizer</p>
<p><i class="fa fa-map-marker"></i>Boston, MA</p>
</em>

<img src="assets/logo.png">
<p>At Sugar Labs, we make a collection of tools that learners
  use to explore, discover, create, and reflect.
  We are non-profit and led by volunteers.
  We distribute these tools freely and encourage our users to
  appropriate them, taking ownership and responsibility for their
 learning.</p>

<!--quick links-->
<a href="#About"><button class="button button1">Learn More <i class="fa fa-cog"></i></button></a>
<a href="#Downloads"><button class="button button2">Downloads <i class="fa fa-download"></i></button></a>
<a href="http://sugarizer.org/"><button class="button button3">Try it Now <i class="fa fa-space-shuttle"></i></button></a>

<!--subscribe-->
<form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>

<!--social media-->
<div class="socialmedia">
<a href="https://www.facebook.com/SugarLabs-187845102582/timeline/"><i class="fa fa-facebook fa-3x"></i></a>
<a href="https://twitter.com/sugar_labs"><i class="fa fa-twitter fa-3x"></i></a>
<a href="https://www.instagram.com/sugarlabsforall/"><i class="fa fa-instagram fa-3x"></i></a>
<a href="https://www.facebook.com/SugarLabs-187845102582/timeline/"><i class="fa fa-github fa-3x"></i></a>
<a href="https://sugarlabs.org/"><i class="fa fa-link fa-3x"></i></a>
<a href="tel:+14153435226"><i class="fa fa-phone fa-3x"></i></a>
</div>


</center>
</div>
</div>
</div>
